main {
    display: grid;
    grid-template-rows: 2fr 7fr 1fr;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
}

header {
    grid-row:1/2;
    height: fit-content;
    margin-left: 4rem;
    color:var(--priamry);
}
h1{
    z-index: 0;
}


article {
    overflow-y: auto;
    display: flex;
    grid-row: 2/3;
    margin-left: 4rem;
    flex-wrap: wrap;
}

footer {
    grid-row:3/4;
}

@media only screen and (max-width:400px) {
    main{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    article,header{
        margin-left:0;
    }
}