
/*Item modal*/

#item-modal{
    position: fixed;
    top:0;
    left: 0;
    width:100vw;
    height:100vh;
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    background: rgba(29,81,26,0.4);
    backdrop-filter: blur(4);
}

#item-modal-card{
    height: 80%;
    width:60%;
    background: var(--top);
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
}

#item-modal-image-wrapper{
    width: 50%;
    padding:0 1rem;
}

#item-modal-image{
    width: 100%;
}

#item-modal-info{
    height: 100%;
    padding:0 2.5rem;
}

#item-modal-data{
    overflow-y: auto;
}

#item-modal-add{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    width: 30%;
}


.item-modal-spec-text-value{
    margin-left: 1rem;
}

.item-modal-spec-text-key {
    font-weight: 600;
    white-space: nowrap;
}

.item-modal-spec:nth-child(2n+1){
    background: rgba(203,124,206,0.3);
}

.item-modal-spec:nth-child(2n+1){
    background: rgba(136,255,130,0.3)
}

.item-modal-spec-value{
    width: 100%;
}

#item-modal-specs-table{
    border-spacing: 0;
}