.card{
    height: 18.25rem;
    width: 12rem;
    background: var(--top);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: box-shadow 0.1s linear;
    cursor: pointer;
}

.card-thumbnail{
    width: 100%;
    margin-bottom: 1rem;
}

.card-title{
    margin-bottom: 1rem;
    max-height: 50%;
    word-wrap: break-word;
    font-weight: 600;
}

.card-price{
    margin-top: auto;
}

.card:hover{
    box-shadow: var(--shadow)
}