.card {
    height: 18.25rem;
    width: 12rem;
    background: var(--top);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: box-shadow 0.1s linear;
    cursor: pointer;
}

.card-thumbnail-section {
    margin-bottom: 1rem;
    width: 100%;
    position: relative;
    z-index: 0;
}

.card-thumbnail {
    width: 100%;
}

.discount-ribbon {
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 33% 50%, 0 0%);
    background: var(--secondary-dark);
    position: absolute;
    right: 0;
    top: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    z-index: 0;
}

.discount-value {
    color: var(--text-inverted);
}

.card-title {
    margin-bottom: 1rem;
    max-height: 50%;
    word-wrap: break-word;
    font-weight: 600;
}

.price-section {
    margin-top: auto;
    display: flex;
}

.card-price-slashed {
    text-decoration-line: line-through;
    color: var(--text-disabled);
    margin-right: 0.5rem;
}

.card:hover {
    box-shadow: var(--shadow);
}