main {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 2fr 8fr;
    grid-template-areas: "blank header header"
                         "filter content content"
                         "filter footer footer";
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
}

header {
    grid-area: header;
    height: fit-content;
    margin-left: 4rem;
}

aside {
    grid-area: filter;
    background: var(--surface);
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

article {
    overflow-y: auto;
    display: flex;
    grid-area: content;
    margin-left: 4rem;
}

footer {
    grid-area: footer;
}

.filter{
    margin-top: 1.5rem;
}


.filter-values{
    margin-top: 0.5rem;
}

#price-range{
    display: flex;
    align-items: center;
}

.price-range-label{
    font-weight: 600;
    margin-right: 0.75rem;
}

.price-range-input{
    width: 4rem;
}

.price-range-input:first-of-type{
    margin-right: 0.75rem;
}

#price-range-hint{
    font-weight: 600;
    color:var(--text-disabled);
    margin-top: 1rem;
}

#filter-submit{
    margin-top: auto;
}

/*Item modal*/

#item-modal{
    position: fixed;
    top:0;
    left: 0;
    width:100vw;
    height:100vh;
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    background: rgba(29,81,26,0.4);
    backdrop-filter: blur(4);
}

#item-modal-card{
    height: 80%;
    width:60%;
    background: var(--top);
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
}

#item-modal-image-wrapper{
    width: 50%;
}

#item-modal-image{
    width: 100%;
}

#item-modal-info{
    height: 100%;
}

#item-modal-data{
    overflow-y: auto;
}

#item-modal-add{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*TODO: Style the table*/