<!doctype html>
<html class="no-js" lang="ro">

<head>
    <meta charset="utf-8">
    <title>LaDorel.ro</title>
    <meta name="description" content="Demo eCommerce platform">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="LaDorer.ro">
    <meta property="og:type" content="application/eshop">
    <!--  TODO: Add url and image-->
    <meta property="og:url" content="">
    <meta property="og:image" content="Logo.png">


    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;1,600&display=swap"
          rel="stylesheet">
    <meta name="theme-color" content="#6BF564">
    <link rel="stylesheet" href="/root.css">
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/itemCard.css">

</head>

<body>

<!--Navbar-->
<nav id="app-nav">
    <img src="/Logo.png" alt="logo" id="logo"/>
    <ul id="nav-menu">
        <!--        TODO: Add a hamburger menu icon-->
        <li class="nav-item">CATEGORII</li>
        <li class="nav-item">Oferte</li>
        <li class="nav-item">Contact</li>
        <li class="nav-item">User area</li>
    </ul>
</nav>

<main>
    <section>
        <h1 class="home-section-header">
            Noutati
        </h1>
        <%-include('../../components/item/itemCard',{item:item})%>
    </section>
    <section>
        <h1 class="home-section-header">
            Recomandate
        </h1>
    </section>
    <section>
        <h1 class="home-section-header">
            Cautate
        </h1>
    </section>
</main>

</body>

</html>
