:root {

    /*Theme*/
    --priamry: #6BF564;
    --primary-light: #88FF82;
    --primary-dark: #3AA834;
    --secondary: #F58DC8;
    --secondary-dark: #A82D73;
    /*Text*/
    --error: #F01A3E;
    --text-primary: #1c1c1c;
    --text-inverted: #f5fcf5;
    --text-disabled: #899189;
    /*Surfaces*/
    --background: #edf5ef;
    --surface: #cbd6ce;
    --top: #f9f9f9;

    --shadow: #737373 2px 2px 8px 0px;
}

/*Typography*/
h1 {
    font-size: 3rem;
    font-family: Raleway sans-serif;
    font-weight: 600;
}

h2 {
    font-size: 2.75rem;
    font-family: Raleway sans-serif;
    font-weight: 600;
}


h3 {
    font-size: 2.5rem;
    font-family: Raleway sans-serif;
    font-weight: 400;

}

h4 {
    font-size: 2rem;
    font-family: Raleway sans-serif;
    margin: 0;
}

h5 {
    font-size: 1.5rem;
    font-weight: 100;
    font-family: Raleway sans-serif;
    margin: 0;
}

h6 {
    font-size: 1rem;
    font-weight: 100;
    font-family: Raleway sans-serif;
    margin: 0;
}


p {
    font-size: 1rem;
    font-family: Raleway sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:active {
    outline: none;

}

body {
    background: var(--background);
    margin: 1rem;
    height: calc(100vh - 1rem - 100px);
    margin-top: 100px;
}


/*NAVBAR*/


#app-nav {
    display: flex;
    position: fixed;
    width: 100vw;
    top: 0;
}

@keyframes logo-enter {
    0% {
        transform: translateX(-100%) scale(0.25);
        opacity: 0.2;
    }

    100% {
        transform: translateX(0) scale(1) rotateZ(720deg);
        opacity: 1;
    }
}

#logo {
    width: 160px;
    animation-duration: 1s;
    animation-name: logo-enter;
    animation-iteration-count: 1;
}

#nav-menu {
    margin-left: auto;
    margin-right: auto;
    background: var(--priamry);
    border-radius: 6.25rem;
    list-style: none;
    display: flex;
    padding: 0;
    align-items: center;
}

#nav-menu-icon {
    margin-right: 0.5rem;
}

.nav-item {
    padding: 0.75rem;
    font-family: Raleway, sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    transition: ease-in-out background-color 0.3s, linear font-size 0.1s;
}


.nav-item:hover {
    background: var(--primary-light);
    font-size: 1.65rem
}

.nav-item:first-of-type {
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--text-inverted);
    border-radius: 6.25rem 0 0 6.25rem;
    padding-left: 1.25rem;
    position: relative;
    height: fit-content;
}

.nav-item:last-of-type {
    border-radius: 0 6.25rem 6.25rem 0;
    padding-right: 1.25rem;
}

.home-section-header {
    color: var(--text-disabled);
}


.nav-item:first-of-type:hover #nav-menu-dropdown {
    display: flex;
}


#nav-menu-dropdown {
    position: absolute;
    display: none;
    margin-top: 3rem;
    background: var(--surface);
    flex-direction: column;
}

#nav-menu-dropdown:hover {
    display: flex;
}

.nav-menu-dropdown-item {
    white-space: nowrap;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}

#nav-menu-categories {
    list-style: none;
    padding: 0;
}

.nav-menu-dropdown-item:hover {
    background: var(--secondary);
}


/*INPUTS*/

input {
    border-radius: 0.5rem;
    border: none;
    min-height: 1.25rem;

}

input:focus {
    outline: none;
    border: 0.5px solid var(--secondary);
    box-shadow: var(--shadow);
}

.button-primary {
    border-radius: 1.25rem;
    font-size: 1.75rem;
    font-family: Raleway sans-serif;
    font-weight: 600;
    background: var(--priamry);
    border: 1px solid var(--primary-dark);
    color: var(--text-inverted);
    letter-spacing: 1px;
    transition: box-shadow ease-in 0.2s;
    cursor: pointer;
}

.button-primary:hover {
    box-shadow: var(--shadow);
}
.button-primary:focus{
    outline: none;
}

.button-primary-disabled{
    background: var(--text-disabled)!important;
    border-color: var(--text-disabled)!important;
}