<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>LaDorel.ro</title>
    <meta name="description" content="Demo eCommerce platform">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="LaDorer.ro">
    <meta property="og:type" content="application/eshop">
    <!--  TODO: Add url and image-->
    <meta property="og:url" content="">
    <meta property="og:image" content="Logo.png">


    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;1,600&display=swap"
          rel="stylesheet">
    <meta name="theme-color" content="#6BF564">
    <link rel="stylesheet" href="/root.css">
    <link rel="stylesheet" href="/style/objects.css">
    <link rel="stylesheet" href="/style/itemCard.css">
    <link rel="stylesheet" href="/style/itemModal.css">
</head>
<body onload="getItemsInitial()">
<%- include("../../components/navigation/navbar") %>
<main>
    <%-include("../../components/item/itemModal")%>
    <header>
        <h1><%= meta.location.toUpperCase() %></h1>
    </header>
    <aside>
        <h4>Filtre</h4>
        <div class="filter">
            <h5>Pret</h5>
            <div class="filter-values" id="price-range">
                <h6 class="price-range-label">De la</h6>
                <input class="price-range-input" type="number" id="price-range-min" value="0"
                       onchange="onMinPriceFilterChange(event)"/>
                <h6 class="price-range-label">pana la</h6>
                <input class="price-range-input" id="price-range-max" type="number" value="0"
                       onchange="onMaxPriceFilterChange(event)"/>
            </div>
            <h6 id="price-range-hint">0 inseamna nesetat</h6>
        </div>
        <!--        TODO: Add the disabled state-->
        <button id="filter-submit" class="button-primary" onclick="applyFilters(event)">Filtreaza</button>
    </aside>
    <article id="item-page">
        <% items.forEach(item=>{ %>
            <%- include('../../components/item/itemCard',{item:item}) %>
        <% }); %>
    </article>
    <footer>
    </footer>
</main>

</body>
<script src="/script/dataStore.js"></script>
<script src="/script/objects.js"></script>
<script src="/script/itemModal.js"></script>
</html>