<!--Navbar-->
<nav id="app-nav">
    <a href="/">
        <img src="/Logo.png" alt="logo" id="logo"/>
    </a>
    <ul id="nav-menu">
        <li class="nav-item">
            <div id="nav-menu-dropdown">
                <ul id="nav-menu-categories">
                    <li class="nav-menu-dropdown-item">
                        <a href="/unelte"><h5>Unelte</h5></a>
                    </li>
                    <li class="nav-menu-dropdown-item">
                        <a href="/unelte-de-putere"><h5>Unelte de putere</h5></a>
                    </li>
                    <li class="nav-menu-dropdown-item">
                        <a href="/masini"><h5>Masini</h5></a>
                    </li>
                </ul>
            </div>
            <img id="nav-menu-icon" alt="menu" src="/img/menu.svg"/>CATEGORII
        </li>
        <li class="nav-item"> <a href="/oferte"><h5>Oferte</h5></a></li>
        <li class="nav-item">Contact</li>
        <li class="nav-item"><a
                    href="<%= user ? "/user" : "/auth" %>"><h5><%= user ? !!user.firstName ? user.firstName : user.email : "Contul tau" %></h5></a>
        </li>
        <% if(user){ %>
            <%- include("../cart/cart",{initialCart:initialCart}) %>
        <% } %>
    </ul>
</nav>