<!--Navbar-->
<nav id="app-nav">
    <img src="/Logo.png" alt="logo" id="logo"/>
    <ul id="nav-menu">
        <li class="nav-item">
            <div id="nav-menu-dropdown">
                <ul id="nav-menu-categories">
                    <li class="nav-menu-dropdown-item">Unelte</li>
                    <li class="nav-menu-dropdown-item">Unelte de putere</li>
                    <li class="nav-menu-dropdown-item">Masini</li>
                    <li class="nav-menu-dropdown-item">Dorei</li>
                </ul>
            </div>
            <img id="nav-menu-icon" alt="menu" src="/img/menu.svg"/>CATEGORII
        </li>
        <li class="nav-item">Oferte</li>
        <li class="nav-item">Contact</li>
        <li class="nav-item">User area</li>
    </ul>
</nav>