<!--Navbar-->
<nav id="app-nav">
    <a href="/">
        <img src="/Logo.png" alt="logo" id="logo"/>
    </a>
    <ul id="nav-menu">
        <li class="nav-item">
            <div id="nav-menu-dropdown">
                <ul id="nav-menu-categories">
                    <li class="nav-menu-dropdown-item">
                        <a href="/unelte"><h5>Unelte</h5></a>
                    </li>
                    <li class="nav-menu-dropdown-item">
                        <a href="/unelte-de-putere"><h5>Unelte de putere</h5></a>
                    </li>
                    <li class="nav-menu-dropdown-item">
                        <a href="/masini"><h5>Masini</h5></a>
                    </li>
                    <li class="nav-menu-dropdown-item"><h5>Dorei</h5></li>
                </ul>
            </div>
            <img id="nav-menu-icon" alt="menu" src="/img/menu.svg"/>CATEGORII
        </li>
        <li class="nav-item">Oferte</li>
        <li class="nav-item">Contact</li>
        <li class="nav-item">User area</li>
    </ul>
</nav>