<!--Navbar-->
<nav id="app-nav">
    <img src="/Logo.png" alt="logo" id="logo"/>
    <ul id="nav-menu">
        <li class="nav-item"><img id="nav-menu-icon" alt="menu" src="/img/menu.svg"/>CATEGORII</li>
        <li class="nav-item">Oferte</li>
        <li class="nav-item">Contact</li>
        <li class="nav-item">User area</li>
    </ul>
</nav>