<!--    The modal for seeing the description of an item-->

<div id="item-modal">
    <div id="item-modal-card">
        <div id="item-modal-image-wrapper">
            <img id="item-modal-image" src="" alt="item-image"/>
        </div>
        <div id="item-modal-info">
            <h2 id="item-modal-title"></h2>
            <!--            TODO: Add rating-->
            <div id="item-modal-data">
                <h5 id="item-modal-description"></h5>
                <h3>Specificatii</h3>
                <table id="item-modal-specs-table">
                    <tbody id="item-modal-specs">

                    </tbody>
                </table>
            </div>
            <button id="item-modal-add" class="button-primary">
                <h5 id="item-modal-price"></h5>
                <h6>Adauga in cos</h6>
            </button>
        </div>
    </div>
</div>